body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
    background-image: linear-gradient(to bottom left, rgba(128, 0, 128, 0.5), rgba(0, 0, 255, 0.5));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header {
    background-color: white;
}
canvas {
    border: 1px solid #ccc;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
button {
    padding: 10px 20px;
    margin: 5px;
}